 <!-- Single Product Start -->
 <div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-4" >
                        <div class="border rounded">
                            <img src="{{product.picture}}" class="img-fluid rounded" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{product.name}}</h4>
                        <p class="mb-3">Category: {{product.category}}</p>
                        <h5 class="fw-bold mb-3">${{product.price | number: '1.2-2'}}</h5>
                        
                        <p class="mb-4">{{product.description}}</p>
                        
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <h4 class="mb-4">Similar Products</h4>
                        <div class="d-flex align-items-center justify-content-start" *ngFor="let product of similarProducts.slice(0, 3)">
                            <div class="rounded me-4" >
                                <img src="https://picsum.photos/400" style="height: 150px;border-radius:5%;" alt="">
                            </div>
                            <div>
                                <h6 class="mb-2">{{product.name}}</h6>
                                <div class="d-flex mb-2">
                                    <h5 class="fw-bold me-2">${{product.price | number: '1.2-2'}}</h5>
                                </div>
                                <button class="btn border border-secondary rounded-pill px-2 py-2 mb-2 text-primary" ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="container py-5">
        <h1 class="fw-bold mb-0">Related products</h1>
        &nbsp;
        <div class="col-lg-9">
            <div class="row g-4 justify-content-left">
                <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let product of similarProducts.slice(0, 3)">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src={{product.picture}}  class="img-fluid w-100 rounded-top" alt="" [routerLink]="['/p', product.code]">
                        </div>                                 
                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                            
                            <h4>{{product.name}}</h4>
                        
                            
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">${{product.price | number: '1.2-2'}}</p>
            
                                    <button class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    

</div>
    </div>
    </div>

<!-- Single Product End -->
