<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Confirm Your Order</h1>
        <div class="col-md-3 col-lg-6 col-xl-2">
            <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary" [routerLink]="['/cart']">Back to Cart</button>
        </div>
        <form action="#">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7" *ngIf="customerAddresses!=null && customerAddresses.length>0 ">
                    <br>
                    <div *ngFor="let address of customerAddresses">
                    <div class="card">
                        <div class="card-body">
                            <label class="form-check-label">
                            <input type="radio"   name="selectedAddress">
                             &nbsp; {{address.name}}
                            <p>  {{address.address}}</p>    
                            </label>
                        </div>
                        
                    </div>
                    <br> 
                    </div>   
                    <div class="col-md-3 col-lg-6 col-xl-4">
                        <a href="#" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal"> <button
                                  class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Add New Address</button></a>
                    
                    </div> 
                       
                    
                </div>
                <div class="col-md-12 col-lg-6 col-xl-7" *ngIf="customerAddresses==null ||  customerAddresses.length<=0 ">
                    <br>
                    <div class="card">
                        <div class="card-body">
                            No saved addresses.
                        </div> 
                    </div>
                    <div class="col-md-3 col-lg-6 col-xl-4">
                        <br>
                        <a href="#" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal"> <button
                                  class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Add New Address</button></a>
                        </div>
                </div>
                
                    

                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartEntries">
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <img src="{{item.product.picture}}"  style="width: 90px; height: 90px;  border-radius: 50%;" alt="">
                                        </div>
                                    </th>
                                    <td class="py-5">{{item.product.name}}</td>
                                    <td class="py-5">${{item.product.price | number: '1.2-2'}}</td>
                                    <td class="py-5">{{item.quantity}}</td>
                                    <td class="py-5">${{item.product.price*item.quantity | number: '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Shipping</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$0.00</p>
                                        </div>
                                    </td>
                                </tr>   
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">${{cartPrice | number: '1.2-2'}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary" (click)="placeOrder()">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
<!--
<ngb-modal [ngbModalRef]="modalRef">
    <form (ngSubmit)="addAddress()">
        <div class="form-group">
            <label for="code">Code:</label>
            <input type="text" id="code" [(ngModel)]="newAddress.code" name="code" required>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="newAddress.name" name="name" required>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" [(ngModel)]="newAddress.address" name="address" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</ngb-modal>
-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="container">
                    <div class="row"> 
                        <div class="col-12 my-2">
                            <label for="">Name of Your Address</label>
                            <input type="text" [(ngModel)]="addressObj.name" class="form-control">
                        </div>
                        <div class="col-12 my-2">
                            <label for="">Enter Your Adress</label>
                            <input type="text" [(ngModel)]="addressObj.address" class="form-control">
                        </div>  
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addAddress()" >Save</button>
            </div>
        </div>
    </div>
</div>
